body {
  font-family: sans-serif;
}

.input-area {
  background-color: aqua;
  width: 400px;
  height: 30px;
  padding: 10px;
}

.unfinished-area {
  background-color: blueviolet;
  width: 400px;
  min-height: 200px;
  padding: 10px;
}

.finished-area {
  background-color: darkkhaki;
  width: 400px;
  min-height: 200px;
  padding: 10px;
}
